<h1 class="bg-success-subtle p-2 text-center">CODER NOTES</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum natus molestiae, provident itaque voluptas consequatur voluptatum rerum obcaecati excepturi architecto quis incidunt sequi debitis veniam est laboriosam? Quisquam, numquam esse!</p>